.movies {
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
}

.movies__search-message {
  text-align: center;
  color: red;
  font-size: 12px;
}

@media screen and (max-width: 1279px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    padding: 0 10px;
  }
}
